
@mixin btn-component($width,$height,$fontsize,$color)
  font-family: "Montserrat-SemiBold",sans-serif
  font-size: $fontsize
  font-weight: bold
  text-transform: uppercase
  width: $width
  height: $height
  color: $color
  border-radius: 30px
  outline: none !important
  text-align: center
  letter-spacing: 1px
  border: 0
  margin-right: 24px
  box-shadow: 1.169px 3.825px 16px 0px rgba(1, 2, 2, 0.35)


@mixin btn-universal($backgroundcolor,$shadowbottom)
  width: 146px
  height: 50px
  font-family: "Montserrat-SemiBold",sans-serif
  font-size: 15px
  color: white
  border: 3px solid transparent
  outline: none !important
  background-color: $backgroundcolor
  border-bottom: 8px solid $shadowbottom
  border-radius: 10px
  text-align: center
  text-transform: uppercase
  font-weight: bold
  margin-left: 10px
  &:hover
    background: white
    color: $pink
    border: 3px solid $pink
    transition: 1s all

@mixin title-component($fontsize,$color)
  font-size: $fontsize
  color: $color
  font-family: 'Palatino Linotype',sans-serif
  font-style: italic

@mixin subtitle-component($fontsize,$color)
  font-size: $fontsize
  color: $color
  font-family: "Montserrat-SemiBold",sans-serif
  font-weight: bold
